# IDEs
.idea/
.vscode/

# Compilados
*.o
*.out
*.exe
*.a
*.so
*.dylib

# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Cobertura
*.gcov
*.gcda
*.gcno
coverage/
coverage_html/
