# IDEs
.idea/
.vscode/

# Compilados
*.o
*.out
*.exe
*.a
*.so
*.dylib

# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Cobertura
*.gcov
*.gcda
*.gcno
coverage/
coverage_html/

# Asegurar inclusión de archivos de entrada
!transmission1.txt
!transmission2.txt
!mcode1.txt
!mcode2.txt
!mcode3.txt
